<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mvc.mapper.CommentFileMapper">

	<insert id="insertFile">
		insert into tbl_comment_file (cfno, uuid, fname, datefolder)
		values(seq_comment_file.nextval, #{uuid}, #{fname}, #{datefolder})
	</insert>

	<update id="submitFile">
		update tbl_comment_file set cno = seq_comment.currval where uuid = #{uuid}
	</update>

	<update id="updateSubmitFile">
		update tbl_comment_file set cno = #{cno} where uuid = #{uuid}
	</update>

	<update id="updateNull">
		update tbl_comment_file set cno = null where cno = #{cno}
	</update>
	
	<update id="deleteFullFile">
		update tbl_comment_file set cno = null where cno in (select cno from tbl_comment where bno = #{bno})
	</update>

	<select id="listFile" resultType="org.mvc.domain.FileVO">
		select * from tbl_comment_file where cno = #{cno}
	</select>

</mapper>